@model QLDA.Models.student

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    legend {
        background-color: gray;
        color: white;
        padding: 5px 5px 5px 30px;
    }

    input {
        min-width: 300px;
    }

    select {
        min-width: 300px;
    }

    fieldset {
        display: block;
        padding-top: 0.35em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
        border: 2px groove;
        max-width: 900px;
        height:500px;
        left: 90px;
        position: relative;
        background-color: #eeeeee;
        border: 1px solid;
    }

    label {
        position: relative;
        margin: 0;
        line-height: 20px;
        padding-top: 15px;
    }

    img {
        max-width: 150px;
    }

    input[type=file] {
        padding: 10px;
        background: #2d2d2d;
    }

    .left-part {
        position: absolute;
        top: 0px;
        right: -70px;
    }
</style>
<form action="/Student/Create" method="post" enctype="multipart/form-data">


    <fieldset>

        <legend>Thêm mới sinh viên:</legend>
        <div class="col-lg-12" style=" position: relative;">

            <div class="col-lg-6">

                <div>

                    <label>Mã sinh viên:</label>
                    <br>
                    <input type="text" required id="student_id" name="student_id">
                    <br>

                </div>
                <div>
                    <label>Tên:</label>
                    <br>
                    <input type="text" required id="name" name="name">
                    <br>
                </div>


                <div>
                    <label>Ngày sinh:</label>
                    <br>
                    <input type="date" required id="age" name="age">
                </div>
                <div>
                    <label>Địa chỉ:</label><br>

                    <input type="text" id="address" required name="address">

                </div>
                <div>
                    <br>
                    <label>Giới tính:</label>
                    <br>
                    <label class="light">Nam:</label>
                    <input type="radio" id="gender" required value="Nam" name="gender"><br />
                    <label class="light">Nữ: &ensp;</label>
                    <input type="radio" id="gender" required value="Nữ" name="gender">

                </div>
            </div>
            <div class="col-lg-6 left-part">
                <div>
                    <label>Email:</label><br />
                    <input type="text" id="email" required name="email" />
                </div>




                <div>
                    <label>Khoa:</label>
                    <br>
                    <select name="faculty" id="faculty" onchange="getFaculty();">
                        <option required value="">Chọn khoa</option>
                        <option required value="CNTT">Công nghệ thông tin</option>
                        <option required value="TDH">Tự động hóa</option>
                        <option required value="TTDPT">TT đa phương tiện</option>
                        <option required value="QTVP">Quản trị văn phòng</option>
                    </select>
                    <br>

                    <label>Lớp:</label>
                    <br>
                    <select name="_class" id="_class">
                        <option required value="">Chọn lớp</option>s
                    </select>
                    <br>

                </div>

                <div>
                    <label>Số điện thoại:</label>
                    <br>
                    <input required type="text" id="phone" name="phone">
                    <br>

                </div>
                <div>
                    <label>Ảnh:</label>
                    <br>
                    <input required type='file' onchange="readURL(this);" name="ImageFile" id="ImageFile" />
                    <img id="blah" style="width:125px;height:125px" alt="your image" />

                    <br>
                </div>
            </div>  
        </div>
  
    </fieldset>

    <button type="submit" class="btn btn-primary" style="margin:15px 0px 0px 500px">Thêm</button>
</form>